*{
    box-sizing: border-box;
}

body{
    background-color: #E8E8E8   ;
}

.content{
    background-color: white;
    text-align: center;
    margin: 60px 250px;
    padding: 50px;
    font-family: sans-serif;
}

h1, h2{
    font-weight: 100;
}

.content img{
    width: 200px;
}

h2{
    margin-bottom: 30px;
}

input[type=text]{
    margin-bottom: 40px;
    width: 200px;

}

a{
    font-size: 20px;
}